.post-wrapper
{
	height: 100%;
	right: 20px; 
	top: 100px;
	position: fixed; 
	width:20% ;
}

.poppreview
{
	background-color: white; 
	padding: 5px;
	margin: 10px;
	clear: both;
}

.postuser
{
	color : #CD853F;
	font-size : 13px;

}