.popposts
{
	position: fixed; 
	right: 100px; 
	top: 100px;
}

.post-wrapper
{
	height: 100%;
}

.poppreview
{
	right: 20px; 
	background-color: white; 
	padding: 5px;
	width:20% ;
	margin: 10px;
	float: right;
	clear: both;
}

.postuser
{
	color : #CD853F;
	font-size : 13px;

}