#threadcontents{
	position: absolute;
	top: 150px;
	left: 20px;
	width: 1250px;
	border: solid black 2px; 
	border-radius: 15px;

} 
#sharebutton{
	background-color: #4CAF50; /* Green */
  	border: none;
  	border-radius: 12px;
  	color: white;
  	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 16px;
    position : absolute;
    right :0;
    bottom : -50px;
 }

#sharebutton:hover{
	background-color: #006400;
}


#threadtitle{
	position: absolute;
	top: 50px;
	left: 20px;
	width: 1250px;

}

#threadcomments{
	position: absolute;
	top: 300px;
	left: 20px;
	width: 1250px;

}

.comments{
	margin-top: 100px;
	background-color: #d3d3d3 ;
	padding : 5px 10px;;
}

.commenttocomment{
	position: absolute;
	left : 857px;
}
