.settings{
	background-color: white;
	height: 700px; 
	width : 1700px;
	left : 100px; ; 
	top: 150px; 
	position: absolute;
}

.types{
	width: 15%;
	height:100% ; 
	border:solid; 
	border-right: none;
	float: left;
}

.categories{
	text-align: center; 
	height: 8%; 
}

#profilepic{
	height: 5%; 
	cursor: pointer;
}

.propic{
	text-align: center;
}

#general{
	height: 5%; 
	cursor: pointer;
}

.gen{
	text-align: center;
}

#password{
	height: 5%; 
	cursor: pointer;
}

.pass{
	text-align: center;
}

#privacy{
	height: 5%; 
	cursor: pointer;
}
.priv{
	text-align: center;
}


.specifics{
	left: 255px; 
	position: absolute;
	width:85%;
	height:100%;
	background-color: #E1E1E1;
	border:solid;
	border-left: none;
}

.cancelchanges{
	position: absolute; 
	bottom:3px; 
	right: 160px; 
	background-color: #73E600;
	text-decoration: none;
	color: white;
	font-size:20px;
}

.savechanges{
	position: absolute; 
	bottom:3px; 
	right: 3px; 
	background-color: #73E600;
	text-decoration: none;
	color:white;
	font-size: 20px;
}

.logoutbtn{
	position: absolute;
	bottom:3px; 
	font-size: 20px;
	text-decoration: none;
	background-color: #73E600;
	color:white;
	padding : 10px;
	width:15%;
	text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #73E600;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}